.q{
    background-image: url(./IMAGE\ \(26\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 955px;
}

.rr{
    background-image: url(./IMAGE\ \(31\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 545px;
}

.d{
    background-image: url(./IMAGE\ \(33\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 611px;
}

.kk{
    background-image: url(./IMAGE\ \(34\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 611px;
}
